@import '../../index.scss';

.profile_page {
  background-color: $background;
  width: 100%;
  @include center(center, space-around);
  flex-wrap: wrap;
  padding: 5rem 0;

  > img {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
  }

  > .other_section {
    // background-color: aqua;
    width: 50%;
    height: 100%;
    @include center(flex-start, space-around);
    flex-direction: column;

    > span {
      font-size: 5rem;
      font-weight: 600;
      color: $font-color;
    }

    > button {
      border: none;
      border-radius: 10px;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0.5rem 1.5rem;
      background-color: hsl(0, 100%, 50%);
      color: white;
      cursor: pointer;
    }
  }
}
